---
import Layout from "../components/Layout.astro";
---

<Layout>
	<section class="my-auto pb-8">
		<h1
			class="text-slate-800 title flex-col-reverse sm:flex-row title-gradient text-2xl sm:text-7xl md:text-8xl lg:text-9xl pb-8 pt-8 font-bold"
		>
			Bradley Moore
		</h1>
		<p
			class="text-md w-[80%] md:w-[85%] md:pl-1 lg:pl-2 sm:text-xl font-medium sm:leading-relaxed text-slate-400"
		>
			<span
				class="transition duration-700 ease-in-out hover:text-slate-600"
			>
				I&apos;m currently working as a Software Engineer at Starling Bank
			</span>{" "}

			<br />

			<span
				class="transition duration-700 ease-in-out hover:text-slate-600"
			>
				You can find my related links below
			</span>
		</p>
	</section>
</Layout>
